@import './boxfont.css'; 
@import './font/testfont.css';

.box {
    color: red;
}

.transcss{
    transform: translate(10px, 10px);
    position: absolute;
    width: 160px;
    height: 100px;
    margin-top: 120px;
}